.logo
{
    margin-left: auto;
    margin-right: auto;
    width:400px ;
    display: block;
}

main
{
   margin-top: 50px;
    display:flex;
    justify-content: space-around;
    
}
.scores
{
    background-color: black;
    /* position: relative; */
    width: 200px;
    height: 150px;
    text-align: center;
    font-size:60px;
    top: 15px;
    bottom: 15px;
   
}

body
{
    background-color:white;
    color:brown;
}
.addbtn
{
    margin-top:10px
}

#time
{
    position: absolute;
    font-size: xx-large;
}